.nav {
  display: flex;
  justify-content: center;
  align-items: center;

  &.header__nav {
    position: fixed;
    top: 7rem;
    left: 0;
    right: 0;
    width: 90%;
    background-color: #fff;
    margin: 0 auto;
    & a {
      color: hsl(233, 26%, 24%);
    }
  }

  &__list {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin: 1.5rem 0;
    width: 70%;
  }

  &__item {
    list-style: none;
    width: 100%;
    text-align: center;
    padding: 0.5rem 1rem;
    & a {
      text-decoration: none;
      color: #fff;
      transition: all 0.5s ease;
      font-size: 1rem;
      font-weight: 400;
      width: 100%;
    }

    &:hover a {
      color: hsl(136, 65%, 51%);
    }
  }
}

@media screen and (max-width: 490px) {
  .nav {
    animation: slide 300ms ease-in-out;
  }
}

@keyframes slide {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
