.about-section {
  width: 100%;
  background-color: hsl(0, 0%, 98%);
  padding: 2rem 0.5rem;

  &__about {
    width: 95%;
    max-width: 390px;
    margin-inline: auto;
    text-align: center;

    & h2 {
      font-size: 2rem;
      font-weight: 300;
      font-family: inherit;
      color: hsl(233, 26%, 24%);
    }

    & p {
      font-size: 1rem;
      font-family: inherit;
      color: hsl(233, 8%, 62%);
      text-align: center;
      font-weight: 400;
      line-height: 1.5;
      padding: 1.5rem 0;
    }
  }
}

.attr {
  width: 95%;
  margin-inline: auto;
  text-align: center;
  padding: 1.5rem 0;
  max-width: 390px;

  &__info {
    & h3 {
      font-size: 1.5rem;
      font-weight: 300;
      margin: 1.5rem 0;
      font-family: inherit;
      color: hsl(233, 26%, 24%);
    }

    & p {
      font-size: 1rem;
      font-family: inherit;
      font-weight: 400;
      color: hsl(233, 8%, 62%);
      text-align: center;
      line-height: 1.5;
    }
  }
}

@media screen and (min-width: 1024px) {
  .about-section {
    display: grid;
    gap: 2rem 0.5rem;
    grid-template-columns: 8rem 1fr 1fr 1fr 1fr 8rem;
    &__about {
      max-width: 35rem;
      font-size: 2.5rem;
      grid-column: 2/6;
      justify-self: flex-start;
      margin: 0;
      text-align: left;
      & h2 {
        font-size: 2.5rem;
        font-weight: 500;
      }

      & p {
        font-size: 1.1rem;
        text-align: left;
        font-weight: 400;
      }
    }
  }

  .attr {
    text-align: left;
    margin: 0;
    & h3 {
      font-size: 1.6rem;
      font-weight: 500;
    }
    & p {
      text-align: left;
      font-size: 1.1rem;
    }
    &:nth-of-type(2) {
      grid-column: 2/3;
    }
    &:nth-of-type(3) {
      grid-column: 3/4;
    }
    &:nth-of-type(4) {
      grid-column: 4/5;
    }
    &:nth-of-type(5) {
      grid-column: 5/6;
    }
  }
}
