.button {
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  background: linear-gradient(
    90deg,
    rgba(49, 211, 92, 1) 50%,
    rgba(126, 229, 255, 1) 100%
  );
  color: hsl(0, 0%, 100%);
  font-size: 1.2rem;
  font-weight: 400;
  font-family: inherit;
  width: 13rem;
  text-align: center;
}

@media screen and (max-width: 1020px) {
  .button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (min-width: 1020px) {
  .header__btn {
    padding: 0.5rem 1.5rem;
  }
}
