.button {
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  background: #31d35c;
  color: hsl(0, 0%, 100%);
  font-size: 1.2rem;
  font-weight: 400;
  font-family: inherit;
  width: 13rem;
}

.intro {
  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
